/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

 .content {
  padding-top:    3rem;
  padding-bottom: 3rem;
  hr {
    margin: 3.5rem 0;
  }
}

@media (min-width: $tablet-break) {
  .content {
    max-width: 38rem;
    margin-left: 375px;
    margin-right: 2rem;
  }
}

@media (min-width: $laptop-break) {
  .content {
    margin-left: 455px;
  }
}